<div class="d-flex align-items-center" hidden>
	<div class="pr-2">
		{{ if ( index $.Site.Data.addons $.Page.Language.Lang ) -}}
			<p>{{ T "AddonsPage.NAddons" ( index $.Site.Data.addons $.Page.Language.Lang | len ) }}</p>
		{{- else -}}
			<p>{{ T "AddonsPage.NAddons" ( $.Site.Data.addons.en | len ) }}</p>
		{{- end }}
	</div>
	<div class="flex-grow-1">
		<hr />
	</div>
	<div class="pl-2">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="checkbox-list-view" onchange="changeView(event)">
			<label class="form-check-label" for="checkbox-list-view">{{ T "AddonsPage.ListViewLabel" }}</label>
		</div>
	</div>
	<div class="pl-2">
		<div class="form-check" title='{{ T "AddonsPage.EasterEggTooltip.L1" }}<br class="mb-1"/>{{ T "AddonsPage.EasterEggTooltip.L2" }}' data-toggle="tooltip" data-placement="left" data-html="true">
			<input class="form-check-input" type="checkbox" id="checkbox-easter-egg" onchange="changeEgg(event)">
			<label class="form-check-label" for="checkbox-easter-egg">{{ T "AddonsPage.EasterEggLabel" }}</label>
		</div>
	</div>
</div>

<div class="card-columns">
	{{- if ( index $.Site.Data.addons $.Page.Language.Lang ) }}
		{{- template "addon-card" ( index $.Site.Data.addons $.Page.Language.Lang ) -}}
	{{ else }}
		{{- template "addon-card" $.Site.Data.addons.en -}}
	{{ end -}}
</div>

{{- define "addon-card" }}

{{ range . }}

<div class="card {{ range .tags }} tag-{{ . }}{{ end }}" id="addon-{{ .id }}">
	{{ if (fileExists (delimit (slice "static/assets/img/addons/" .id ".png") "")) -}}
		<div class="card-img-wrapper">
			<img src="/assets/img/addons/{{ .id }}.png" class="card-img-top" alt="{{ .name }}" loading="lazy">
		</div>
	{{- end }}
	<div class="card-body">
		<h5 class="card-title">
			{{ .name }}
			{{ if in .tags "recommended" }}<span data-toggle="tooltip" title='{{ T "AddonsPage.RecommendedAddon" }}'>🌟</span>{{ end -}}
			{{ if in .tags "featured" }}<span data-toggle="tooltip" title='{{ T "AddonsPage.FeaturedAddon" }}'>⭐</span>{{ end -}}
			{{ if in .tags "easterEgg" }}<span data-toggle="tooltip" title='{{ T "AddonsPage.EasterEggAddon" }}'>🥚</span>{{ end -}}
			{{ if in .tags "beta" }}<span data-toggle="tooltip" title='{{ T "AddonsPage.BetaAddon" }}'>⚠️</span>{{ end -}}
		</h5>
		<h6 class="card-subtitle mb-2 text-muted">
			{{ .id }}
			<a href='https://github.com/ScratchAddons/ScratchAddons/tree/master/addons/{{ .id }}' title='{{ T "AddonsPage.SourceCodeLink.Title" }}' aria-label='{{ T "AddonsPage.SourceCodeLabel" }}' rel="noopener" data-toggle="tooltip" data-placement="top"><span class="iconify-inline" data-icon="simple-icons:github"></span></a>
			<a href='https://scratch.mit.edu/scratch-addons-extension/settings#addon-{{ .id }}' title='{{ T "AddonsPage.SASettingsLink.Title" }}' aria-label='{{ T "AddonsPage.SASettingsLink.Label" }}' rel="noopener" data-toggle="tooltip" data-placement="top"><span class="iconify-inline" data-icon="fa-solid:cog"></span></a>
			{{ if (fileExists (delimit (slice "content/addons/" .id ".md") "")) -}}
				<a href='./{{ .id }}' title='{{ T "AddonsPage.AddonDocsLink.Title" }}' aria-label='{{ T "AddonsPage.AddonDocsLink.Label" }}' rel="noopener" data-toggle="tooltip" data-placement="top"><span class="iconify-inline" data-icon="fa-solid:book-open"></span></a>
			{{- end }}
		</h6>
		<p class="card-text">{{ .description }}</p>
	</div>
</div>

{{ end }}

{{ end }}