{{ range sort $.Site.Data.changelog "Index" "desc" }}{{ $latest := index (sort $.Site.Data.changelog "Index" "desc") 0 }}
<section id="{{ .Version }}" class="mt-3">
	<h2>
		{{- if and 
			( isset $.Site.Data "changelogi18n" ) 
			( isset $.Site.Data.changelogi18n $.Page.Language.Lang ) 
			( isset ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version )
			( isset ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ) "Name" )
		-}}
			{{ ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ).Name }}
		{{- else -}}
			{{ .Name }}
		{{- end -}}
		<small class="text-muted">
			<time datetime="{{ .Date }}">{{ .Date }}</time>
			{{ if eq .Status "Yanked" }}<span class="badge badge-danger">{{ T "ChangelogPage.Status.Yanked" }}</span>{{ end }}
			{{ if eq $latest.Index .Index }}<span class="badge badge-success">{{ T "ChangelogPage.Status.Latest" }}</span>{{ end }}
		</small>
		<a href="#{{ .Version }}" class="anchor" aria-label="Anchor">¶</a>
	</h2>
	{{ if isset . "Highlights" }}
		<div class="card mb-3 changelog-entry">
			{{ if isset .Highlights "ImagePath" }}
				<div class="row no-gutters align-items-center">
					<div class="col-md-3 align-middle d-flex align-items-center">
						<img src="{{ .Highlights.ImagePath }}" {{ if isset .Highlights "ImageAlt" }}alt='
						{{- if and 
							( isset $.Site.Data "changelogi18n" ) 
							( isset $.Site.Data.changelogi18n $.Page.Language.Lang ) 
							( isset ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version )
							( isset ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ) "Highlights" )
							( isset ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ).Highlights "ImageAlt" )
						-}}
							{{ ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ).Highlights.ImageAlt | markdownify }}
						{{- else -}}
							{{ .Highlights.ImageAlt | markdownify }}
						{{- end -}}'{{ end }} class="card-img" />
					</div>
					<div class="col-md-9">
						<div class="card-body">
							<div class="changelog-highlights-title">
								<h4 class="card-title">{{ T "ChangelogPage.Highlights.Title" }}</h4>
							</div>
							<div class="changelog-highlights-description">
								{{- if and 
									( isset $.Site.Data "changelogi18n" ) 
									( isset $.Site.Data.changelogi18n $.Page.Language.Lang ) 
									( isset ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version )
									( isset ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ) "Highlights" )
									( isset ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ).Highlights "Description" )
								-}}
									{{ ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ).Highlights.Description | markdownify }}
								{{- else -}}
									{{ .Highlights.Description | markdownify }}
								{{- end -}}
							</div>
						</div>
					</div>
				</div>
			{{ else if isset .Highlights "YouTubeID" }}
				<div class="row no-gutters align-items-center">
					<div class="col-md-3 align-middle d-flex align-items-center">
						<div class="card-img">
							{{ partial "youtube" (dict "id" .Highlights.YouTubeID ) }}
						</div>
					</div>
					<div class="col-md-9">
						<div class="card-body">
							<div class="changelog-highlights-title">
								<h4 class="card-title">{{ T "ChangelogPage.Highlights.Title" }}</h4>
							</div>
							<div class="changelog-highlights-description">
								{{- if and 
									( isset $.Site.Data "changelogi18n" ) 
									( isset $.Site.Data.changelogi18n $.Page.Language.Lang ) 
									( isset ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version )
									( isset ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ) "Highlights" )
									( isset ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ).Highlights "Description" )
								-}}
									{{ ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ).Highlights.Description | markdownify }}
								{{- else -}}
									{{ .Highlights.Description | markdownify }}
								{{- end -}}
							</div>
						</div>
					</div>
				</div>
			{{ else }}
				<div class="card-body">
					<div class="changelog-highlights-title">
						<h4 class="card-title">{{ T "ChangelogPage.Highlights.Title" }}</h4>
					</div>
					<div class="changelog-highlights-description">
						{{- if and 
							( isset $.Site.Data "changelogi18n" ) 
							( isset $.Site.Data.changelogi18n $.Page.Language.Lang ) 
							( isset ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version )
							( isset ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ) "Highlights" )
							( isset ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ).Highlights "Description" )
						-}}
							{{ ( index ( index $.Site.Data.changelogi18n $.Page.Language.Lang ) .Version ).Highlights.Description | markdownify }}
						{{- else -}}
							{{ .Highlights.Description | markdownify }}
						{{- end -}}
					</div>
				</div>
			{{ end }}
		</div>
	{{ end }}
	<div class="changelog-entry mb-3">
		{{ .Entry | markdownify }}
	</div>
	<div class="changelog-links">
		<h3>{{ T "ChangelogPage.Links.Title" }}</h3>
		<ul>
			{{ if isset . "Links" }}{{ range .Links }}
				<li><a href='{{ .Link }}'>{{ T .StringKey }}</a></li>
			{{ end }}{{ end }}
			<li><a href='https://github.com/ScratchAddons/ScratchAddons/releases/tag/{{ .Tag }}'>{{ T "ChangelogPage.Links.ReleaseGitHub" }}</a></li>
			<li><a href='https://github.com/ScratchAddons/ScratchAddons/tree/{{ .Tag }}'>{{ T "ChangelogPage.Links.RepoState" }}</a></li>
			{{ if gt .Index 1 }}
			<li><a href='https://github.com/ScratchAddons/ScratchAddons/compare/{{ index ( index $.Site.Data.changelog ( sub .Index 2 ) ) "Tag" }}...{{ .Tag }}'>{{ T "ChangelogPage.Links.CommitsMade" }}</a></li>
			{{ end }}
		</ul>	
	</div>
</section>
{{ end }}