{{ $ts := now.UnixMilli }}

<script>
	window.i18nStrings = {
		statusSending: '{{ T "FeedbackPage.Status.Sending" }}',
		statusSuccess: '{{ T "FeedbackPage.Status.Success" }}',
		statusFailed: '{{ T "FeedbackPage.Status.Failed" }}',
		statusOffline: '{{ T "FeedbackPage.Status.Offline" }}',
		noAddonsList: '{{ T "FeedbackPage.NoAddonsList" }}',
		preSendWarning: {
			warning: '{{ T "FeedbackPage.PreSendWarning.Warning" }}',
			override: '{{ T "FeedbackPage.PreSendWarning.Override" }}',
			variations: {
				notST: {
					heading: '{{ T "FeedbackPage.PreSendWarning.Variations.NotST.Heading" }}',
					description: '{{ T "FeedbackPage.PreSendWarning.Variations.NotST.Description" | htmlEscape }}',
				},
				punishment: {
					heading: '{{ T "FeedbackPage.PreSendWarning.Variations.Punishment.Heading" }}',
					description: '{{ T "FeedbackPage.PreSendWarning.Variations.Punishment.Description" ( dict "Tag1Start" (add $ts 1) "Tag1End" (add $ts 2) ) | htmlEscape }}',
				},
				folders: {
					heading: '{{ T "FeedbackPage.PreSendWarning.Variations.Folders.Heading" }}',
					description: '{{ T "FeedbackPage.PreSendWarning.Variations.Folders.Description" | htmlEscape }}',
				},
			}
		},
		submitButton: '{{ T "FeedbackPage.SubmitButton" }}'
	}
	window.i18nTimestamp = Number('{{ $ts }}')
</script>
<script defer src="/assets/js/feedback.js"></script>

<div id="feedback-status" class="alert" role="alert" hidden></div>
<form id="feedback-form">
	<div class="form-group mb-3">
		<label for="feedback-username">{{ T "FeedbackPage.UsernameLabel" }}</label>
		<input type="text" class="form-control" id="feedback-username" placeholder="ScratchCat" maxlength="150">
	</div>
	<div class="form-group">
		<label for="feedback-content">{{ T "FeedbackPage.ContentLabel" }}</label>
		<textarea type="text" class="form-control" id="feedback-content" placeholder='{{ T "FeedbackPage.ContentPlaceholder" }}' maxlength="1500" minlength="2" autofocus required></textarea>
	</div>
	<div class="form-group form-check">
		<input type="checkbox" id="feedback-addons-list" class="form-check-input" checked>
		<label class="form-check-label" for="feedback-addons-list">{{ T "FeedbackPage.SendEnabled" }}</label>
	</div>
	<button class="btn btn-primary" id="feedback-submit" type="button">{{ T "FeedbackPage.SubmitButton" }}</a>
</form>	
