{{ define "main" }}

<header id="intro" class="intro-heading post-header">
	<h1 class="post-title" itemprop="name headline">Blog</h1>
	<p>Lead sentence</p>
</header>
			
<div class="container">
	<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
		{{ range .Pages.ByPublishDate.Reverse }}
			<div class="col mb-4 px-0 px-xl-1">
				<article class="card">
					<div class="card-body">
						<h3 class="card-title h4 mt-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<p class="card-text">{{ .Description }}</p>
					</div>
					<div class="card-footer text-muted">
						{{ .Date.Format "02 January 2006" }}
					</div>
				</article>	
			</div>
		{{ end }}	
	</div>
</div>

{{ end }}