{{ define "main" }}

<header id="intro" class="intro-heading post-header">
	<h1 class="post-title" itemprop="name headline">{{ T "Blog.SectionHeading.Title" }}</h1>
	<p>{{ T "Blog.SectionHeading.Tagline" }}</p>
</header>
			
<div class="container">
	<div class="row row-cols-1 row-cols-lg-2 m-0">
		{{ range .Pages.ByPublishDate.Reverse }}
			<div class="col mb-4 px-0 px-md-1">
				<article class="card">
					<div class="card-body">
						<h3 class="card-title h4 mt-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<p class="card-text">{{ .Description }}</p>
					</div>
					<div class="card-footer text-muted">
						{{ .Date | time.Format ":date_long" }}
					</div>
				</article>	
			</div>
		{{ end }}	
	</div>
</div>

{{ end }}