{{ define "main" }}
{{ $style := resources.Get "assets/css/blog.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
<h1>{{ .Title }}</h1>
<div class="container">
  <a href="/blog"
  ><span
    class="iconify mr-1"
    data-icon="bi:arrow-left"
    data-inline="false"
  ></span
  >Back to List</a
>

  <div class="metadata-container">

    <p>
      Posted <time>{{ .PublishDate.Format "January 2, 2006" }}</time> by {{ .Params.author
      }}.
    </p>
    <p> {{ .ReadingTime
    }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }} reading
    time</p>
  </div>

  {{ .Content }}
</div>
{{ end }}
