<!DOCTYPE html>

<html>

<head>

	<meta name="robots" content="noindex">
	<meta charset="utf-8">
	<title>{{ .Description }}</title>
	<link rel="canonical" href="{{ .Description }}" />
	<meta http-equiv="refresh" content="0;URL={{ .Description }}">

	<!--[if lt IE 9]>
	<script type="text/javascript">window.IE=true</script>
	<![endif]-->
	<script type="text/javascript">
		function redirect() {
			var url = "{{ .Description }}"
			if (typeof window.IE !== "undefined") {
				document.getElementsByTagName("a")[0].click()
			} else { 
				window.location.replace(url)
			}
		}
	</script>

	<style>
	* {
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
	}
	</style>

</head>

<body onload="redirect()">

	<p>You will be redirected to <a href="{{ .Description }}">{{ .Description }}<a> shortly.</p>

</body>

</html>
