@charset "UTF-8";
.highlight {
  /* Comment */
  /* Error */
  /* old */
  /* Keyword */
  /* Operator */
  /* not applied */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* old */
  /* Generic.Error */
  /* old */
  /* Generic.Heading */
  /* edited */
  /* Generic.Inserted */
  /* Generic.Output */
  /* old */
  /* Generic.Prompt */
  /* old */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Affix */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Delimiter */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Function.Magic */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable.Magic */
  /* Literal.Number.Integer.Long */ }
  .highlight .hll {
    background-color: #ffffcc; }
  .highlight .c {
    color: #6a737d; }
  .highlight .err {
    border: 1px solid red; }
  .highlight .k {
    color: #d73a49; }
  .highlight .o {
    color: #666; }
  .highlight .ch {
    color: #6a737d; }
  .highlight .cm {
    color: #6a737d; }
  .highlight .cp {
    color: #d73a49; }
  .highlight .cpf {
    color: #032f62; }
  .highlight .c1 {
    color: #6a737d; }
  .highlight .cs {
    color: #6a737d; }
  .highlight .gd {
    color: #b31d28;
    background-color: #ffeef0; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: red; }
  .highlight .gh {
    color: #005cc5;
    font-weight: bold; }
  .highlight .gi {
    color: #22863a;
    background-color: #f0fff4; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: navy; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #6f42c1;
    font-weight: bold; }
  .highlight .gt {
    color: #0044DD; }
  .highlight .kc {
    color: #005cc5; }
  .highlight .kd {
    color: #d73a49; }
  .highlight .kn {
    color: #d73a49; }
  .highlight .kp {
    color: #d73a49; }
  .highlight .kr {
    color: #d73a49; }
  .highlight .kt {
    color: #d73a49; }
  .highlight .m {
    color: #666666; }
  .highlight .s {
    color: #032f62; }
  .highlight .na {
    color: #7d9029; }
  .highlight .nb {
    color: #005cc5; }
  .highlight .nc {
    color: #6f42c1; }
  .highlight .no {
    color: #005cc5; }
  .highlight .nd {
    color: #6f42c1; }
  .highlight .ni {
    color: #005cc5; }
  .highlight .ne {
    color: #005cc5; }
  .highlight .nf {
    color: #6f42c1; }
  .highlight .nl {
    color: #005cc5; }
  .highlight .nn {
    color: #6f42c1; }
  .highlight .nt {
    color: #22863a; }
  .highlight .nv {
    color: #24292e; }
  .highlight .ow {
    color: #d73a49; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mb {
    color: #005cc5; }
  .highlight .mf {
    color: #005cc5; }
  .highlight .mh {
    color: #005cc5; }
  .highlight .mi {
    color: #005cc5; }
  .highlight .mo {
    color: #005cc5; }
  .highlight .sa {
    color: #d73a49; }
  .highlight .sb {
    color: #032f62; }
  .highlight .sc {
    color: #032f62; }
  .highlight .dl {
    color: #d73a49; }
  .highlight .sd {
    color: #032f62; }
  .highlight .s2 {
    color: #032f62; }
  .highlight .se {
    color: #032f62; }
  .highlight .sh {
    color: #032f62; }
  .highlight .si {
    color: #005cc5; }
  .highlight .sx {
    color: #032f62; }
  .highlight .sr {
    color: #032f62; }
  .highlight .s1 {
    color: #032f62; }
  .highlight .ss {
    color: #005cc5; }
  .highlight .bp {
    color: #005cc5; }
  .highlight .fm {
    color: #005cc5; }
  .highlight .vc {
    color: #24292e; }
  .highlight .vg {
    color: #24292e; }
  .highlight .vi {
    color: #24292e; }
  .highlight .vm {
    color: #005cc5; }
  .highlight .il {
    color: #005cc5; }

body.dark .highlight {
  /* Error */
  /* Comment */
  /* Generic */
  /* Name */
  /* Keyword; catches prefixes and css3 */
  /* Literal */
  /* Literal.Number */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Literal.String */
  /* Text.Whitespace */
  /* Other */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  body.dark .highlight .hll {
    background-color: #404040; }
  body.dark .highlight .err {
    color: #a61717;
    background-color: #311; }
  body.dark .highlight .c {
    color: #3677a9; }
  body.dark .highlight .g {
    color: #d0d0d0; }
  body.dark .highlight .h {
    color: #ccc; }
  body.dark .highlight .k {
    color: #ccc; }
  body.dark .highlight .l {
    color: #d0d0d0; }
  body.dark .highlight .m {
    color: #cd2828; }
  body.dark .highlight .n {
    color: #ccc; }
  body.dark .highlight .o {
    color: #777; }
  body.dark .highlight .p {
    color: #e9b96e; }
  body.dark .highlight .s {
    color: #d2691e; }
  body.dark .highlight .w {
    color: #666; }
  body.dark .highlight .x {
    color: #d0d0d0; }
  body.dark .highlight .cm {
    color: #3677a9; }
  body.dark .highlight .cp {
    color: #d2691e; }
  body.dark .highlight .c1 {
    color: #3677a9; }
  body.dark .highlight .cs {
    color: #e50808;
    background-color: #520000; }
  body.dark .highlight .gd {
    color: #d22323; }
  body.dark .highlight .ge {
    color: #d0d0d0; }
  body.dark .highlight .gr {
    color: #d22323; }
  body.dark .highlight .gh {
    color: #fff; }
  body.dark .highlight .gi {
    color: #589819; }
  body.dark .highlight .go {
    color: #ccc; }
  body.dark .highlight .gp {
    color: #aaa; }
  body.dark .highlight .gs {
    color: #d0d0d0; }
  body.dark .highlight .gu {
    color: #fff; }
  body.dark .highlight .gt {
    color: #d22323; }
  body.dark .highlight .kc {
    color: #6ab825; }
  body.dark .highlight .kd {
    color: #6ab825; }
  body.dark .highlight .kn {
    color: #6ab825; }
  body.dark .highlight .kp {
    color: #6ab825; }
  body.dark .highlight .kr {
    color: #6ab825; }
  body.dark .highlight .kt {
    color: #6ab825; }
  body.dark .highlight .ld {
    color: #d0d0d0; }
  body.dark .highlight .na {
    color: #bbb; }
  body.dark .highlight .nb {
    color: #24909d; }
  body.dark .highlight .nc {
    color: #447fcf; }
  body.dark .highlight .no {
    color: #4ca; }
  body.dark .highlight .nd {
    color: #ffa500; }
  body.dark .highlight .ni {
    color: #d0d0d0; }
  body.dark .highlight .ne {
    color: #bbb; }
  body.dark .highlight .nf {
    color: #098; }
  body.dark .highlight .nl {
    color: #d0d0d0; }
  body.dark .highlight .nn {
    color: #447fcf; }
  body.dark .highlight .nx {
    color: #d0d0d0; }
  body.dark .highlight .py {
    color: #d0d0d0; }
  body.dark .highlight .nt {
    color: #6ab825; }
  body.dark .highlight .nv {
    color: #4ca; }
  body.dark .highlight .ow {
    color: #6ab825; }
  body.dark .highlight .mf {
    color: #cd2828; }
  body.dark .highlight .mh {
    color: #cd2828; }
  body.dark .highlight .mi {
    color: #cd2828; }
  body.dark .highlight .mo {
    color: #cd2828; }
  body.dark .highlight .sb {
    color: #d2691e; }
  body.dark .highlight .sc {
    color: #d2691e; }
  body.dark .highlight .sd {
    color: #d2691e; }
  body.dark .highlight .s2 {
    color: #d2691e; }
  body.dark .highlight .se {
    color: #d2691e; }
  body.dark .highlight .sh {
    color: #d2691e; }
  body.dark .highlight .si {
    color: #d2691e; }
  body.dark .highlight .sx {
    color: #ffa500; }
  body.dark .highlight .sr {
    color: #cd2828; }
  body.dark .highlight .s1 {
    color: #d2691e; }
  body.dark .highlight .ss {
    color: #d2691e; }
  body.dark .highlight .bp {
    color: #24909d; }
  body.dark .highlight .vc {
    color: #4ca; }
  body.dark .highlight .vg {
    color: #4ca; }
  body.dark .highlight .vi {
    color: #4ca; }
  body.dark .highlight .il {
    color: #cd2828; }

.admonition {
  padding: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: .25rem; }
  .admonition :first-child {
    margin-top: 0; }
  .admonition h1, .admonition h2, .admonition h3, .admonition h4, .admonition h5, .admonition h6 {
    margin-top: 1rem;
    margin-bottom: .5rem; }
  .admonition p {
    margin-bottom: .5rem; }
  .admonition :last-child {
    margin-bottom: 0; }
  .admonition code {
    border-radius: .25rem; }
  .admonition + .admonition {
    margin-top: -0.25rem; }

body.dark .admonition {
  border-color: #222; }

.admonition-info {
  border-left-color: var(--info) !important; }
  .admonition-info h4 {
    color: var(--info); }

.admonition-success {
  border-left-color: var(--success) !important; }
  .admonition-success h4 {
    color: var(--success); }

.admonition-warning {
  border-left-color: var(--warning) !important; }
  .admonition-warning h4 {
    color: var(--warning); }

.admonition-danger {
  border-left-color: var(--danger) !important; }
  .admonition-danger h4 {
    color: var(--danger); }

article h1:hover .anchor::after, article h2:hover .anchor::after, article h3:hover .anchor::after, article h4:hover .anchor::after, article h5:hover .anchor::after, article h6:hover .anchor::after {
  content: "¶"; }

article h1:hover .anchor:hover, article h2:hover .anchor:hover, article h3:hover .anchor:hover, article h4:hover .anchor:hover, article h5:hover .anchor:hover, article h6:hover .anchor:hover {
  text-decoration: none; }

article blockquote {
  padding: 0 1em;
  color: var(--secondary);
  border-left: 0.25em solid #bbc2c8; }
  article blockquote > :first-child {
    margin-top: 0; }
  article blockquote > :last-child {
    margin-bottom: 0; }

article code, article tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: .25rem;
  color: inherit; }
  article code br, article tt br {
    display: none; }

article pre {
  word-wrap: normal; }
  article pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }

article pre {
  padding: 16px;
  border-radius: 6px; }

article .highlight > pre > code {
  background-color: transparent !important; }

article pre {
  background-color: #f8f9fa; }

article code, article kbd, article tt, article samp {
  background-color: #eff1f3; }

article table {
  display: block;
  width: 100%;
  overflow: auto; }
  article table th, article table td {
    padding: 6px 13px;
    border: 1px solid #dee2e6; }
  article table tr {
    border-top: 1px solid #d2d8dd; }
    article table tr:nth-child(2n) {
      background-color: #f5f6f8; }
    article table tr > th:empty {
      border-color: transparent;
      border-bottom-color: #dee2e6;
      padding: 0; }
  article table img {
    background-color: transparent; }

article img {
  max-width: 100%; }

article h1, article h2, article h3, article h4, article h5, article h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem; }

article blockquote, article details, article dl, article ol, article p, article pre, article table, article ul, article .highlight {
  margin-bottom: 1rem; }

article h1:first-child {
  margin-top: 0; }

article > :last-child {
  margin-bottom: 0; }

article li * {
  margin-bottom: 0.5rem; }

@media (min-width: 1200px) {
  #docs-toc nav a.active {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85) !important; } }

#docs-nav a.active {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85) !important; }

#docs-nav .docs-nav-section .docs-nav-section span {
  margin-left: -1.125rem; }

#docs-nav .collapse-button > svg {
  transition: transform 0.35s ease; }

#docs-nav .collapse-button:not(.collapsed) > svg {
  transform: rotate(90deg); }

#docs-toc nav,
#docs-nav {
  font-size: .875rem;
  width: 100%;
  word-wrap: break-word; }
  #docs-toc nav ul,
  #docs-nav ul {
    padding-left: 0;
    list-style: none; }
    #docs-toc nav ul ul,
    #docs-nav ul ul {
      padding-left: 1rem;
      margin-top: .25rem; }
  #docs-toc nav li,
  #docs-nav li {
    margin-bottom: .25rem; }
  #docs-toc nav a,
  #docs-nav a {
    color: #6c757d !important;
    text-decoration: none; }
    #docs-toc nav a:hover,
    #docs-nav a:hover {
      color: #313539 !important; }
    #docs-toc nav a code,
    #docs-nav a code {
      font: inherit; }

@media (min-width: 1200px) {
  #docs-toc nav > ul {
    position: sticky;
    top: 1.5rem;
    max-height: calc(100vh - 3rem);
    overflow: auto;
    scrollbar-width: thin; }
    #docs-toc nav > ul > li {
      margin-right: 0.25rem; } }

@media (min-width: 992px) {
  #docs-pages nav > ul {
    position: sticky;
    top: 1.5rem;
    max-height: calc(100vh - 3rem);
    overflow: auto;
    scrollbar-width: thin; }
    #docs-pages nav > ul > li {
      margin-right: 0.25rem; } }

body.dark article pre {
  background-color: #1f1f1f;
  color: var(--content-cnt); }

body.dark article code, body.dark article kbd, body.dark article tt, body.dark article samp {
  background-color: #292929;
  color: var(--content-cnt); }

body.dark article blockquote {
  border-left-color: rgba(242, 242, 242, 0.6); }

body.dark .collapse-button svg g {
  fill: #9d9d9d; }

body.dark table th, body.dark table td {
  border: 1px solid #343a40; }

body.dark table tr {
  border-top: 1px solid #3d444b; }
  body.dark table tr:nth-child(2n) {
    background-color: #181b1e; }
  body.dark table tr > th:empty {
    border-color: transparent;
    border-bottom-color: #343a40;
    padding: 0; }

body.dark #docs-toc nav a,
body.dark #docs-nav a {
  color: rgba(255, 255, 255, 0.6) !important; }
  body.dark #docs-toc nav a:hover,
  body.dark #docs-nav a:hover {
    color: rgba(255, 255, 255, 0.87) !important; }

@media (min-width: 1200px) {
  body.dark #docs-toc nav a.active {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.87) !important; } }

body.dark #docs-nav a.active {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87) !important; }

body.extension-styled article pre {
  background-color: #fcfcfc; }

body.extension-styled article code, body.extension-styled article kbd, body.extension-styled article tt, body.extension-styled article samp {
  background-color: #f2f2f2; }

body.dark.extension-styled article pre {
  background-color: #2a2a2a; }

body.dark.extension-styled article code, body.dark.extension-styled article kbd, body.dark.extension-styled article tt, body.dark.extension-styled article samp {
  background-color: #343434; }

body.dark.extension-styled table th, body.dark.extension-styled table td {
  border: 1px solid #495057; }

body.dark.extension-styled table tr {
  border-top: 1px solid #525a62; }
  body.dark.extension-styled table tr:nth-child(2n) {
    background-color: #2b3035; }
  body.dark.extension-styled table tr > th:empty {
    border-color: transparent;
    border-bottom-color: #495057;
    padding: 0; }
