<footer class="footer">
	<div class="container my-4">
		<section class="footer-intro mb-4">
			<div>
				<a href='{{ "/" | relLangURL }}' class="navbar-brand">
					<img src="/assets/img/icon.svg" alt='{{ T "Global.ScratchAddons" }}' class="mr-2"></img>
					<span>{{ T "Global.ScratchAddons" }}</span>
				</a>
				{{ $latest := index (sort $.Site.Data.changelog "Index" "desc") 0 -}}
				<p class="mb-3 small">{{ T "Footer.Intro" ( dict "Version" ( $latest.Version ) "AddonCount" ( $.Site.Data.addons.en | len ) ) }}</p>
			</div>
			<div class="footer-ghbtns">
				<iframe src="https://ghbtns.com/github-btn.html?user=ScratchAddons&repo=ScratchAddons&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
			</div>
			<div class="footer-socials">
				<a href="https://youtube.com/ScratchAddons" aria-label='{{ T "Links.YouTube" }}' rel="noopener" target="_blank"><span class="iconify-inline" data-icon="simple-icons:youtube"></span></a>
				<a href="https://discord.gg/R5NBqwMjNc" aria-label='{{ T "Links.Discord" }}' rel="noopener" target="_blank"><span class="iconify-inline" data-icon="simple-icons:discord"></span></a>
				<a href="https://twitter.com/ScratchAddons" aria-label='{{ T "Links.Twitter" }}' rel="noopener" target="_blank"><span class="iconify-inline" data-icon="simple-icons:twitter"></span></a>
				<a href="https://reddit.com/r/ScratchAddons" aria-label='{{ T "Links.Reddit" }}' rel="noopener" target="_blank"><span class="iconify-inline" data-icon="simple-icons:reddit"></span></a>
				<a href="https://github.com/ScratchAddons" aria-label='{{ T "Links.GitHub" }}' rel="noopener" target="_blank"><span class="iconify-inline" data-icon="simple-icons:github"></span></a>
			</div>
		</section>
		<section class="mb-4">
			<h3>{{ T "Footer.Pages.Header" }}</h3>
			<a href='{{ "/docs/faq" | relLangURL }}'>{{ T "Footer.Pages.FAQ" }}</a>
			<a href='{{ "/feedback" | relLangURL }}'>{{ T "Footer.Pages.Feedback" }}</a>
			<a href='{{ "/credits" | relLangURL }}'>{{ T "Links.Credits" }}</a>
			<a href='{{ "/changelog" | relLangURL }}'>{{ T "Footer.Pages.Changelog" }}</a>
			<a href='{{ "/addons" | relLangURL }}'>{{ T "Links.Addons" }}</a>
		</section>
		<section class="mb-4">
			<h3>{{ T "Footer.Discuss.Header" }}</h3>
			<a href="https://github.com/ScratchAddons/ScratchAddons/discussions" rel="noopener" target="_blank">{{ T "Links.Discussion" }}</a>
			<a href="https://github.com/ScratchAddons/ScratchAddons/issues" rel="noopener" target="_blank">{{ T "Footer.Discuss.Issues" }}</a>
			<a href="https://discord.gg/R5NBqwMjNc" rel="noopener" target="_blank">{{ T "Links.DiscordSupport" }}</a>
			<a href="https://discord.gg/Ak8sCDQ" rel="noopener" target="_blank">{{ T "Footer.Discuss.DiscordDev" }}</a>
		</section>
		<section class="mb-4">
			<h3>{{ T "Footer.Resources.Header" }}</h3>
			<a href="https://github.com/ScratchAddons/ScratchAddons" rel="noopener" target="_blank">{{ T "Footer.Resources.Repository" }}</a>
			<a href='{{ "/docs" | relLangURL }}'>{{ T "Footer.Resources.Documentation" }}</a>
			<a href="/docs/policies/privacy/website">{{ T "Links.PrivacyPolicy" }}</a>
			<a href='/blog'>{{ T "Links.Blog" }}</a>
		</section>
		<section class="w-100 mb-0">
			<p>{{ T "Footer.Legal.Copyright" ( dict "Year" .Site.Params.copyright_year "Copyleft" "<span class=copyleft>©</span>" ) | safeHTML }}</p>
			<p>{{ T "Footer.Legal.NoAffiliation" }}</p>
			<p class="mb-0">{{ T "Footer.Legal.License" }}</p>
		</section>
	</div>
</footer>
