<a id="dark-toggle" class="btn" title='{{ T "DarkTheme.Title" }}' aria-label='{{ T "DarkTheme.Label" }}' data-toggle="tooltip" data-placement="left"></a>

<footer class="footer">
	<div class="container">
		<section class="footer-intro">
			<a href='{{ "/" | relLangURL }}' class="navbar-brand mb-3">
				<img src="/assets/img/icon.svg" alt='{{ T "Global.ScratchAddons" }}' class="mr-2"></img>
				<span>{{ T "Global.ScratchAddons" }}</span>
			</a>
			<iframe src="https://ghbtns.com/github-btn.html?user=ScratchAddons&repo=ScratchAddons&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
			<iframe src="https://ghbtns.com/github-btn.html?user=ScratchAddons&repo=ScratchAddons&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
		</section>
		<section>
			<h3>{{ T "Footer.Pages.Header" }}</h3>
			<a href='{{ "/docs/faq" | relLangURL }}'>{{ T "Footer.Pages.FAQ" }}</a>
			<a href='{{ "/feedback" | relLangURL }}'>{{ T "Footer.Pages.Feedback" }}</a>
			<a href='{{ "/contributors" | relLangURL }}'>{{ T "Footer.Pages.Contributors" }}</a>
			<a href='{{ "/changelog" | relLangURL }}''>{{ T "Footer.Pages.Changelog" }}</a>
			<a href='{{ "/addons" | relLangURL }}'>{{ T "Footer.Pages.Addons" }}</a>
		</section>
		<section>
			<h3>{{ T "Footer.Discuss.Header" }}</h3>
			<a href="https://github.com/ScratchAddons/ScratchAddons/discussions" rel="noopener">{{ T "Footer.Discuss.Discussion" }}</a>
			<a href="https://github.com/ScratchAddons/ScratchAddons/issues" rel="noopener">{{ T "Footer.Discuss.Issues" }}</a>
			<a href="https://discord.gg/R5NBqwMjNc" rel="noopener">{{ T "Footer.Discuss.DiscordCom" }}</a>
			<a href="https://discord.gg/Ak8sCDQ" rel="noopener">{{ T "Footer.Discuss.DiscordDev" }}</a>
		</section>
		<section>
			<h3>{{ T "Footer.Resources.Header" }}</h3>
			<a href="https://github.com/ScratchAddons" rel="noopener">{{ T "Footer.Resources.Organization" }}</a>
			<a href="https://github.com/ScratchAddons/ScratchAddons" rel="noopener">{{ T "Footer.Resources.Repository" }}</a>
			<a href='{{ "/docs" | relLangURL }}'' rel="noopener">{{ T "Footer.Resources.Documentation" }}</a>
			<a href="https://youtube.com/ScratchAddons" rel="noopener">{{ T "Footer.Resources.YouTube" }}</a>
		</section>
		<section class="w-100 mt-3">
			<p>{{ T "Footer.Legal.Copyright" .Site.Params.copyright_year }}</p>
			<p>{{ T "Footer.Legal.NoAffiliation" }}</p>
			<p>{{ T "Footer.Legal.License" }}</p>
		</section>
	</div>
</footer>
