<!-- Title and Meta -->

<title>{{ if ne .Title "Index" }}{{ .Title }} - {{ end }}{{ T "Global.ScratchAddons" }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<meta name="description" content="{{ .Description }}" />
<meta name="author" content="" />
<link rel="icon" href="/assets/img/icon.png">

<meta property="og:type" content="website" />
<meta property="og:url" content="https://scratchaddons.com{{ with .File }}{{ .Dir }}{{ end }}">
<meta property="og:title" content='{{ if ne .Title "Index" }}{{ .Title }}{{ else }}{{ T "Global.ScratchAddons" }}{{ end }}' />
<meta property="og:description" content="{{ .Description }}">
<meta property="og:site_name" content='{{ T "Global.ScratchAddons" }}' />
<meta property="og:locale" content="{{ .Site.Language.Lang }}" />
<meta property="og:image" content="https://scratchaddons.com/assets/img/icon-square.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="384" />
<meta property="og:image:height" content="384" />
<meta property="og:image:alt" content='{{ T "Global.LogoAlt" }}' />

<meta name="twitter:card" content="summary" />
<!-- <meta name="twitter:site" content="@ScratchAddons" />
<meta name="twitter:creator" content="@ScratchAddons" /> -->
<meta name="twitter:url" content="https://scratchaddons.github.io{{ with .File }}{{ .Dir }}{{ end }}" />
<meta name="twitter:title" content='{{ if ne .Title "Index" }}{{ .Title }} - {{ end }}{{ T "Global.ScratchAddons" }}' />
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:image" content="https://scratchaddons.com/assets/img/icon-square.png" />
<meta name="twitter:image:alt" content='{{ T "Global.LogoAlt" }}' />

{{ if .IsTranslated }}{{ range .Translations -}}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
{{ end }}{{ end }}

<!-- Require Script and Loading Page -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin />
{{ $stylebase := resources.Get "assets/css/base.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $stylebase.Permalink }}" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-loading-bar.min.css" /> -->

<script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.5.1,npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js,npm/@iconify/iconify@1.0.7,npm/bowser@2.11.0" crossorigin></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin></script>
<script async src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin></script>
<script async src="https://code.iconify.design/1/1.0.7/iconify.min.js" crossorigin></script>
<script src="https://cdn.jsdelivr.net/npm/bowser@2.11.0/es5.min.js" crossorigin></script> -->
<script async src="/assets/js/website-base.js"></script>

{{ if eq .Params.noAnalytics false }}
<script async defer data-domain="scratchaddons.com" src="https://analytics.scratchaddons.com/js/plausible.js"></script>
{{ end }}

<!-- <script data-pace-options='{ "eventLag": false, "restartOnRequestAfter": false }' src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script> -->
