@import "../variables";

.docs-toc {
	// @include media-breakpoint-up(lg) {
	//	 position: sticky;
	//	 top: 5rem;
	//	 right: 0;
	//	 z-index: 2;
	//	 height: subtract(100vh, 7rem);
	//	 overflow-y: auto;
	// }

	nav {
		font-size: .875rem;
		// @include font-size(.875rem);

		ul {
			padding-left: 0;
			list-style: none;

			ul {
				padding-left: 1rem;
				margin-top: .25rem;
			}
		}

		li {
			margin-bottom: .25rem;
		}

		a {
			color: inherit;

			&:not(:hover) {
				text-decoration: none;
			}

			code {
				font: inherit;
			}
		}
	}
}

.docs-nav {
	font-size: .875rem;
	// @include font-size(.875rem);

	ul {
		padding-left: 0;
		list-style: none;

		ul {
			padding-left: 1rem;
			margin-top: .25rem;
		}
	}

	li {
		margin-bottom: .25rem;
	}

	a {
		color: inherit;

		&:not(:hover) {
			text-decoration: none;
		}

		code {
			font: inherit;
		}
	}

	.docs-nav-section .docs-nav-section span {
		margin-left: -1rem - 0.125rem
	}

	.collapse-button > svg {
		transition: transform 0.35s ease;
	}

	.collapse-button:not(.collapsed) > svg {
		transform: rotate(90deg);
	}

	.active {
		font-weight: 600;
		color: rgba(0,0,0,0.85);
	}
}

article {

	h1, h2, h3, h4, h5, h6 {
		&:hover .anchor {
			::after {
				content: "¶";
			}
			&:hover {
				text-decoration: none;
			}
		}
	}

	blockquote {
		padding: 0 1em;
		color: $bs-secondary;
		border-left: 0.25em solid lighten($bs-gray-500, 5%);
	
		> :first-child {
				margin-top: 0;
		}
	
		> :last-child {
				margin-bottom: 0;
		}
	}

	code, tt {

		padding: 0.2em 0.4em;
		margin: 0;
		font-size: 85%;
		background-color: rgba(black, 0.05);
		border-radius: 6px;
		color: inherit;
	
	 	br { display: none; }
	}

	pre {
		word-wrap: normal;
		> code {
			padding: 0;
			margin: 0;
			font-size: 100%;
			word-break: normal;
			white-space: pre;
			background: transparent;
			border: 0;
		}
	}
	
	.highlight pre, pre {
		// background: #f8f8f8;
		// padding: 0.5rem;
		// border-radius: 3px;
		padding: 16px;
		background-color: $bs-gray-100;
		border-radius: 6px;
	}

	table {
		display: block;
		width: 100%;
		overflow: auto;
	
		th, 	td {
			padding: 6px 13px;
			border: 1px solid $bs-gray-300;
		}
	
		tr {
			background-color: white;
			border-top: 1px solid darken($bs-gray-300, 4%);
		
			&:nth-child(2n) {
				background-color: lighten($bs-gray-200, 4%);
			}
		}
	
		img {
				background-color: transparent;
		}
		}

	/* Highlight syntax */

	.highlight {

		// https://github.com/PhilipTrauner/pygments-github-css

		.hll { background-color: #ffffcc }
		.c { color: #6a737d } /* Comment */
		.err { border: 1px solid red } /* Error */ /* old */
		.k { color: #d73a49 } /* Keyword */
		.o { color: #666 } /* Operator */ /* not applied */
		.ch { color: #6a737d } /* Comment.Hashbang */
		.cm { color: #6a737d } /* Comment.Multiline */
		.cp { color: #d73a49 } /* Comment.Preproc */
		.cpf { color: #032f62 } /* Comment.PreprocFile */
		.c1 { color: #6a737d } /* Comment.Single */
		.cs { color: #6a737d } /* Comment.Special */
		.gd { color: #b31d28; background-color: #ffeef0 } /* Generic.Deleted */
		.ge { font-style: italic } /* Generic.Emph */ /* old */
		.gr { color: red } /* Generic.Error */ /* old */
		.gh { color: #005cc5; font-weight: bold } /* Generic.Heading */ /* edited */
		.gi { color: #22863a; background-color: #f0fff4 } /* Generic.Inserted */
		.go { color: #888 } /* Generic.Output */ /* old */
		.gp { color: navy; } /* Generic.Prompt */ /* old */
		.gs { font-weight: bold } /* Generic.Strong */
		.gu { color: #6f42c1; font-weight: bold } /* Generic.Subheading */
		.gt { color: #0044DD } /* Generic.Traceback */
		.kc { color: #005cc5 } /* Keyword.Constant */
		.kd { color: #d73a49 } /* Keyword.Declaration */
		.kn { color: #d73a49 } /* Keyword.Namespace */
		.kp { color: #d73a49 } /* Keyword.Pseudo */
		.kr { color: #d73a49 } /* Keyword.Reserved */
		.kt { color: #d73a49 } /* Keyword.Type */
		.m { color: #666666 } /* Literal.Number */
		.s { color: #032f62 } /* Literal.String */
		.na { color: #7d9029 } /* Name.Attribute */
		.nb { color: #005cc5 } /* Name.Builtin */
		.nc { color: #6f42c1 } /* Name.Class */
		.no { color: #005cc5 } /* Name.Constant */
		.nd { color: #6f42c1 } /* Name.Decorator */
		.ni { color: #005cc5 } /* Name.Entity */
		.ne { color: #005cc5 } /* Name.Exception */
		.nf { color: #6f42c1 } /* Name.Function */
		.nl { color: #005cc5 } /* Name.Label */
		.nn { color: #6f42c1 } /* Name.Namespace */
		.nt { color: #22863a } /* Name.Tag */
		.nv { color: #24292e } /* Name.Variable */
		.ow { color: #d73a49; } /* Operator.Word */
		.w { color: #bbbbbb } /* Text.Whitespace */
		.mb { color: #005cc5 } /* Literal.Number.Bin */
		.mf { color: #005cc5 } /* Literal.Number.Float */
		.mh { color: #005cc5 } /* Literal.Number.Hex */
		.mi { color: #005cc5 } /* Literal.Number.Integer */
		.mo { color: #005cc5 } /* Literal.Number.Oct */
		.sa { color: #d73a49 } /* Literal.String.Affix */
		.sb { color: #032f62 } /* Literal.String.Backtick */
		.sc { color: #032f62 } /* Literal.String.Char */
		.dl { color: #d73a49 } /* Literal.String.Delimiter */
		.sd { color: #032f62 } /* Literal.String.Doc */
		.s2 { color: #032f62 } /* Literal.String.Double */
		.se { color: #032f62 } /* Literal.String.Escape */
		.sh { color: #032f62 } /* Literal.String.Heredoc */
		.si { color: #005cc5 } /* Literal.String.Interpol */
		.sx { color: #032f62 } /* Literal.String.Other */
		.sr { color: #032f62 } /* Literal.String.Regex */
		.s1 { color: #032f62 } /* Literal.String.Single */
		.ss { color: #005cc5 } /* Literal.String.Symbol */
		.bp { color: #005cc5 } /* Name.Builtin.Pseudo */
		.fm { color: #005cc5 } /* Name.Function.Magic */
		.vc { color: #24292e } /* Name.Variable.Class */
		.vg { color: #24292e } /* Name.Variable.Global */
		.vi { color: #24292e } /* Name.Variable.Instance */
		.vm { color: #005cc5 } /* Name.Variable.Magic */
		.il { color: #005cc5 } /* Literal.Number.Integer.Long */

	}
}

body.dark {

	.docs-nav .active, blockquote {
		color: $dark-high-emphasis;	
	}

	article .highlight , article {

		pre {
			background: $dark-dp-1;; 
			color: #d0d0d0;	
		}

	}

	article .highlight {
	
		.hll { background-color: #404040; }
		.err { color: #a61717; background-color: #311; } /* Error */
		.c { color: #3677a9; } /* Comment */
		.g { color: #d0d0d0; } /* Generic */
		.h { color: #ccc; } /* Name */
		.k { color: #ccc; } /* Keyword; catches prefixes and css3 */
		.l { color: #d0d0d0; } /* Literal */
		.m { color: #cd2828; } /* Literal.Number */
		.n { color: #ccc; } /* Name */
		.o { color: #777; } /* Operator */
		.p { color: #e9b96e; } /* Punctuation */
		.s { color: #d2691e; } /* Literal.String */
		.w { color: #666; } /* Text.Whitespace */
		.x { color: #d0d0d0; } /* Other */
		.cm { color: #3677a9; } /* Comment.Multiline */
		.cp { color: #d2691e; } /* Comment.Preproc */
		.c1 { color: #3677a9; } /* Comment.Single */
		.cs { color: #e50808; background-color: #520000; } /* Comment.Special */
		.gd { color: #d22323; } /* Generic.Deleted */
		.ge { color: #d0d0d0; } /* Generic.Emph */
		.gr { color: #d22323; } /* Generic.Error */
		.gh { color: #fff; } /* Generic.Heading */
		.gi { color: #589819; } /* Generic.Inserted */
		.go { color: #ccc; } /* Generic.Output */
		.gp { color: #aaa; } /* Generic.Prompt */
		.gs { color: #d0d0d0; } /* Generic.Strong */
		.gu { color: #fff; } /* Generic.Subheading */
		.gt { color: #d22323; } /* Generic.Traceback */
		.kc { color: #6ab825; } /* Keyword.Constant */
		.kd { color: #6ab825; } /* Keyword.Declaration */
		.kn { color: #6ab825; } /* Keyword.Namespace */
		.kp { color: #6ab825; } /* Keyword.Pseudo */
		.kr { color: #6ab825; } /* Keyword.Reserved */
		.kt { color: #6ab825; } /* Keyword.Type */
		.ld { color: #d0d0d0; } /* Literal.Date */
		.na { color: #bbb; } /* Name.Attribute */
		.nb { color: #24909d; } /* Name.Builtin */
		.nc { color: #447fcf; } /* Name.Class */
		.no { color: #4ca; } /* Name.Constant */
		.nd { color: #ffa500; } /* Name.Decorator */
		.ni { color: #d0d0d0; } /* Name.Entity */
		.ne { color: #bbb; } /* Name.Exception */
		.nf { color: #098; } /* Name.Function */
		.nl { color: #d0d0d0; } /* Name.Label */
		.nn { color: #447fcf; } /* Name.Namespace */
		.nx { color: #d0d0d0; } /* Name.Other */
		.py { color: #d0d0d0; } /* Name.Property */
		.nt { color: #6ab825; } /* Name.Tag */
		.nv { color: #4ca; } /* Name.Variable */
		.ow { color: #6ab825; } /* Operator.Word */
		.mf { color: #cd2828; } /* Literal.Number.Float */
		.mh { color: #cd2828; } /* Literal.Number.Hex */
		.mi { color: #cd2828; } /* Literal.Number.Integer */
		.mo { color: #cd2828; } /* Literal.Number.Oct */
		.sb { color: #d2691e; } /* Literal.String.Backtick */
		.sc { color: #d2691e; } /* Literal.String.Char */
		.sd { color: #d2691e; } /* Literal.String.Doc */
		.s2 { color: #d2691e; } /* Literal.String.Double */
		.se { color: #d2691e; } /* Literal.String.Escape */
		.sh { color: #d2691e; } /* Literal.String.Heredoc */
		.si { color: #d2691e; } /* Literal.String.Interpol */
		.sx { color: #ffa500; } /* Literal.String.Other */
		.sr { color: #cd2828; } /* Literal.String.Regex */
		.s1 { color: #d2691e; } /* Literal.String.Single */
		.ss { color: #d2691e; } /* Literal.String.Symbol */
		.bp { color: #24909d; } /* Name.Builtin.Pseudo */
		.vc { color: #4ca; } /* Name.Variable.Class */
		.vg { color: #4ca; } /* Name.Variable.Global */
		.vi { color: #4ca; } /* Name.Variable.Instance */
		.il { color: #cd2828; } /* Literal.Number.Integer.Long */

	}
	
}

body.extension-styled {

	article .highlight , article {

		pre {
			background: $light-ext-level-2; 
		}

	}

}

body.dark,extension-styled {

	article .highlight , article {

		pre {
			background: $dark-ext-level-2; 
		}

	}
	
}

article {

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.5rem;
        margin-bottom: 1rem
    }

    blockquote, details, dl, ol, p, pre, table, ul {
        margin-bottom: 1rem
    }

	h1:first-child {
		margin-top: 0;
	}

    :last-child {
        margin-bottom: 0
    }

}