{{ define "main" }}

<h1>404</h1>

<div class="container">
	<h2>Sorry! That page doesn't exist!</h2>
	<p>Here are some things you can do:</p>
	<ul>
		<li><a href="https://github.com/ScratchAddons/website-v2/issues">Create a new issue suggesting it</a></li>
		<li><a href='{{ "/" | absLangURL }}'>Return to the home page</a></li>
		<li><a href="https://findtheinvisiblecow.com/">Find the invisible cow</a></li>
	</ul>
</div>

<script>
	let pageTitle = '404'
	let pageDescription = "Sorry! That page doesn't exist!"

	document.querySelectorAll("title").forEach(element => {
		element.textContent = element.textContent.replace("404 Page not found", pageTitle)
	})
	document.querySelectorAll("meta[content^='404 Page not found']").forEach(element => {
		element.content = element.content.replace("404 Page not found", pageTitle)
	})
	document.querySelectorAll("meta[name$='description']").forEach(element => {
		element.content = pageDescription
	})
	document.querySelectorAll("meta[property$='description']").forEach(element => {
		element.content = pageDescription
	})
</script>

{{ end }}