<!DOCTYPE html>

<html lang="{{ .Site.Language.Lang }}">

<head>

{{ partialCached "head-404" . .Site.Language.Lang }}

</head>

<body>

{{ partialCached "nav" . .Site.Language.Lang }}

<main>
	{{ block "main" . }}{{ end }}
</main>

{{ partialCached "footer" . .Site.Language.Lang }}

</body>

</html>

{{ define "main" }}

<h1>404</h1>

<div class="container">
	<h2>Sorry! That page doesn't exist!</h2>
	<p>Here are some things you can do:</p>
	<ul>
		<li><a href="https://github.com/ScratchAddons/website-v2/issues">Create a new issue suggesting it</a></li>
		<li><a href='{{ "/" | absLangURL }}'>Return to the home page</a></li>
		<li><a href="https://findtheinvisiblecow.com/">Find the invisible cow</a></li>
	</ul>

	<div class="alert alert-primary" role="alert" id="smart-404">
		<h5>Smart 404</h5>
		<p class="mb-0">Loading...</p>
	</div>
</div>

{{ end }}