.hll { background-color: #404040; }
.err { color: #a61717; background-color: #311; } /* Error */
.c { color: #3677a9; } /* Comment */
.g { color: #d0d0d0; } /* Generic */
.h { color: #ccc; } /* Name */
.k { color: #ccc; } /* Keyword; catches prefixes and css3 */
.l { color: #d0d0d0; } /* Literal */
.m { color: #cd2828; } /* Literal.Number */
.n { color: #ccc; } /* Name */
.o { color: #777; } /* Operator */
.p { color: #e9b96e; } /* Punctuation */
.s { color: #d2691e; } /* Literal.String */
.w { color: #666; } /* Text.Whitespace */
.x { color: #d0d0d0; } /* Other */
.cm { color: #3677a9; } /* Comment.Multiline */
.cp { color: #d2691e; } /* Comment.Preproc */
.c1 { color: #3677a9; } /* Comment.Single */
.cs { color: #e50808; background-color: #520000; } /* Comment.Special */
.gd { color: #d22323; } /* Generic.Deleted */
.ge { color: #d0d0d0; } /* Generic.Emph */
.gr { color: #d22323; } /* Generic.Error */
.gh { color: #fff; } /* Generic.Heading */
.gi { color: #589819; } /* Generic.Inserted */
.go { color: #ccc; } /* Generic.Output */
.gp { color: #aaa; } /* Generic.Prompt */
.gs { color: #d0d0d0; } /* Generic.Strong */
.gu { color: #fff; } /* Generic.Subheading */
.gt { color: #d22323; } /* Generic.Traceback */
.kc { color: #6ab825; } /* Keyword.Constant */
.kd { color: #6ab825; } /* Keyword.Declaration */
.kn { color: #6ab825; } /* Keyword.Namespace */
.kp { color: #6ab825; } /* Keyword.Pseudo */
.kr { color: #6ab825; } /* Keyword.Reserved */
.kt { color: #6ab825; } /* Keyword.Type */
.ld { color: #d0d0d0; } /* Literal.Date */
.na { color: #bbb; } /* Name.Attribute */
.nb { color: #24909d; } /* Name.Builtin */
.nc { color: #447fcf; } /* Name.Class */
.no { color: #4ca; } /* Name.Constant */
.nd { color: #ffa500; } /* Name.Decorator */
.ni { color: #d0d0d0; } /* Name.Entity */
.ne { color: #bbb; } /* Name.Exception */
.nf { color: #098; } /* Name.Function */
.nl { color: #d0d0d0; } /* Name.Label */
.nn { color: #447fcf; } /* Name.Namespace */
.nx { color: #d0d0d0; } /* Name.Other */
.py { color: #d0d0d0; } /* Name.Property */
.nt { color: #6ab825; } /* Name.Tag */
.nv { color: #4ca; } /* Name.Variable */
.ow { color: #6ab825; } /* Operator.Word */
.mf { color: #cd2828; } /* Literal.Number.Float */
.mh { color: #cd2828; } /* Literal.Number.Hex */
.mi { color: #cd2828; } /* Literal.Number.Integer */
.mo { color: #cd2828; } /* Literal.Number.Oct */
.sb { color: #d2691e; } /* Literal.String.Backtick */
.sc { color: #d2691e; } /* Literal.String.Char */
.sd { color: #d2691e; } /* Literal.String.Doc */
.s2 { color: #d2691e; } /* Literal.String.Double */
.se { color: #d2691e; } /* Literal.String.Escape */
.sh { color: #d2691e; } /* Literal.String.Heredoc */
.si { color: #d2691e; } /* Literal.String.Interpol */
.sx { color: #ffa500; } /* Literal.String.Other */
.sr { color: #cd2828; } /* Literal.String.Regex */
.s1 { color: #d2691e; } /* Literal.String.Single */
.ss { color: #d2691e; } /* Literal.String.Symbol */
.bp { color: #24909d; } /* Name.Builtin.Pseudo */
.vc { color: #4ca; } /* Name.Variable.Class */
.vg { color: #4ca; } /* Name.Variable.Global */
.vi { color: #4ca; } /* Name.Variable.Instance */
.il { color: #cd2828; } /* Literal.Number.Integer.Long */