/*
 * https://github.com/PhilipTrauner/pygments-github-css
 * Values further adjusted from https://github.com/primer/github-syntax-dark/blob/master/lib/github-dark.css
 */
 
.hll { background-color: #ffffcc }
.c { color: #8b949e } /* Comment */
.err { border: 1px solid red } /* Error */ /* old */
.k { color: #ff7b72 } /* Keyword */
.o { color: #79c0ff } /* Operator */ /* not applied */
.ch { color: #8b949e } /* Comment.Hashbang */
.cm { color: #8b949e } /* Comment.Multiline */
.cp { color: #ff7b72 } /* Comment.Preproc */
.cpf { color: #79c0ff } /* Comment.PreprocFile */
.c1 { color: #8b949e } /* Comment.Single */
.cs { color: #8b949e } /* Comment.Special */
.gd { color: #ffdcd7; background-color: #67060c } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */ /* old */
.gr { color: #d73a49 } /* Generic.Error */ /* old */
.gh { color: #f2cc60; font-weight: bold } /* Generic.Heading */ /* edited */
.gi { color: #aff5b4; background-color: #033a16 } /* Generic.Inserted */
.go { color: #0366d6 } /* Generic.Output */ /* old */
.gp { color: navy; } /* Generic.Prompt */ /* old */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #f2cc60; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #79c0ff } /* Keyword.Constant */
.kd { color: #ff7b72 } /* Keyword.Declaration */
.kn { color: #ff7b72 } /* Keyword.Namespace */
.kp { color: #ff7b72 } /* Keyword.Pseudo */
.kr { color: #ff7b72 } /* Keyword.Reserved */
.kt { color: #ff7b72 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #a5d6ff } /* Literal.String */
.na { color: #7d9029 } /* Name.Attribute */
.nb { color: #c8e1ff } /* Name.Builtin */
.nc { color: #b392f0 } /* Name.Class */
.no { color: #c8e1ff } /* Name.Constant */
.nd { color: #b392f0 } /* Name.Decorator */
.ni { color: #d2a8ff; } /* Name.Entity */
.ne { color: #c8e1ff } /* Name.Exception */
.nf { color: #b392f0 } /* Name.Function */
.nl { color: #c8e1ff } /* Name.Label */
.nn { color: #b392f0 } /* Name.Namespace */
.nt { color: #7bcc72 } /* Name.Tag */
.nv { color: #ffa657 } /* Name.Variable */
.ow { color: #ff7b72; } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #c8e1ff } /* Literal.Number.Bin */
.mf { color: #c8e1ff } /* Literal.Number.Float */
.mh { color: #c8e1ff } /* Literal.Number.Hex */
.mi { color: #c8e1ff } /* Literal.Number.Integer */
.mo { color: #c8e1ff } /* Literal.Number.Oct */
.sa { color: #ff7b72 } /* Literal.String.Affix */
.sb { color: #a5d6ff } /* Literal.String.Backtick */
.sc { color: #a5d6ff } /* Literal.String.Char */
.dl { color: #ff7b72 } /* Literal.String.Delimiter */
.sd { color: #a5d6ff } /* Literal.String.Doc */
.s2 { color: #a5d6ff } /* Literal.String.Double */
.se { color: #a5d6ff } /* Literal.String.Escape */
.sh { color: #a5d6ff } /* Literal.String.Heredoc */
.si { color: #a5d6ff } /* Literal.String.Interpol */
.sx { color: #a5d6ff } /* Literal.String.Other */
.sr { color: #7ee787 } /* Literal.String.Regex */
.s1 { color: #a5d6ff } /* Literal.String.Single */
.ss { color: #a5d6ff } /* Literal.String.Symbol */
.bp { color: #c8e1ff } /* Name.Builtin.Pseudo */
.fm { color: #c8e1ff } /* Name.Function.Magic */
.vc { color: #ffa657 } /* Name.Variable.Class */
.vg { color: #ffa657 } /* Name.Variable.Global */
.vi { color: #ffa657 } /* Name.Variable.Instance */
.vm { color: #c8e1ff } /* Name.Variable.Magic */
.il { color: #c8e1ff } /* Literal.Number.Integer.Long */
