@import "variables";

.card-columns[data-list-view="true"] {

    column-count: 1;

    .card {
        display: flex;
        flex-direction: row-reverse;

        .card-img-top {
            height: 150px;
            width: 200px;
            border-top-left-radius: 0;
            border-bottom-right-radius: calc(.25rem - 1px);
            margin-top: auto inherit;

            @media (max-width: $bs-breakpoint-md - 0.02px) {
                display: none
            }
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.card-columns:not([data-show-easter-egg="true"]) .card.tag-easterEgg {
	display: none;
}

.lds-ellipsis {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: 0 auto;

	div {
		position: absolute;
		top: 33px;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background: black;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);

		&:nth-child(1) {
			left: 8px;
			animation: lds-ellipsis1 0.6s infinite;
		}
		
		&:nth-child(2) {
			left: 8px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		
		&:nth-child(3) {
			left: 32px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		
		&:nth-child(4) {
			left: 56px;
			animation: lds-ellipsis3 0.6s infinite;
		}
	}
	
	@keyframes lds-ellipsis1 {
		0% {
			transform: scale(0);
		}
	
		100% {
			transform: scale(1);
		}
	}
	
	@keyframes lds-ellipsis3 {
		0% {
			transform: scale(1);
		}
	
		100% {
			transform: scale(0);
		}
	}
	
	@keyframes lds-ellipsis2 {
		0% {
			transform: translate(0, 0);
		}
	
		100% {
			transform: translate(24px, 0);
		}
	}

}

body.dark {
	.lds-ellipsis {	
		div {
			background: white;
		}
	}
}