@import "variables";

.card-body {
	.text-muted a {
		color: $bs-muted !important;

		&:hover {
			color: darken($bs-muted, 25%) !important;
		}

	}
}

body.dark .card-body {
	.text-muted a {
		color: $dark-low-emphasis !important;

		&:hover {
			color: darken($dark-low-emphasis, 25%) !important;
		}
	}
}

.card-columns {
	column-count: 1;

	@media (min-width: $bs-breakpoint-md) {
		column-count: 2;
	}

	@media (min-width: $bs-breakpoint-lg) {
		column-count: 3;
	}
}

.card-columns[data-list-view="true"] {

    column-count: 1;

    .card {
        display: flex;
        flex-direction: row-reverse;
    }

	.card-img-top {
		border-top-left-radius: 0;
		border-bottom-right-radius: calc(.25rem - 1px);
		margin-top: auto inherit;
	}

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
		flex-shrink: 1000;
    }

	.card-img-wrapper, .card-img-top {
		width: 200px;
		height: 150px;

	}

	.card-img-wrapper {
		@media (max-width: calc($bs-breakpoint-md - 0.02px)) {
			display: none
		}
	}

}

.card-columns:not([data-show-easter-egg="true"]) .card.tag-easterEgg {
	display: none;
}

.card-img-wrapper {
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: (3 / 4) * 100%;
	}

	> .card-img-top {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

@media (max-width: 767.98px) {
	#docs-content .container {
		padding-left: 0;
		padding-right: 0
	}
}