@import "variables";
@import "parts/player-modal";

html {
	position: relative;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

main {
	padding: 1.5rem 0;
	flex: 1 0 auto
}

header, footer {
	flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem
}

p {
	margin-bottom: 0.5rem
}

body > header {
	background-color: var(--header-bg);
	color: var(--header-cnt);
	
	img {
		height: 30px;
		width: 30px;
		transform: scale(1.75);
	}
	
	.navbar-brand img {
		margin-right: 0.5rem
	}

	.navbar-dark .navbar-nav .nav-link {
		color: var(--header-cnt);
	
		@media (min-width: $bs-breakpoint-md) {
	
			border-radius: .25rem;
			transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
			margin-left: 0.125rem;
	
			&:hover,
			&:not(:disabled):not(.disabled).active,
			&.focus, &:focus {
				color: $bs-default-black;
				background-color: white;
				border-color: white;
			}
			
			&.focus, &:focus {
				box-shadow: 0 0 0 .2rem rgba(216,217,219,.5);
			}
		
			&.disabled, &:disabled {
				background-color: #f8f9fa;
				border-color: #f8f9fa;
			}
	
		}
		
	}
		
}

.dropdown-menu.show[aria-labelledby=navbar-languages] {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

body > footer {
	width: 100%;
	background-color: var(--footer-bg);
	color: var(--footer-cnt);
	
	> div {
		padding: 1rem 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	a {
		color: var(--footer-cnt);
		&:hover {
			color: var(--footer-cnt-2)
		}
	}
	
	section {
		display: block;
		padding: 0 1rem;
		
		h3 {
			font-size: 1rem;
			margin-bottom: 0.5rem;
			font-weight: 600;
			color: var(--footer-cnt-2)
		}
		
		p {
			font-size: 0.75rem;
			margin-bottom: 0.5rem;
		}
		
		> a {
			margin-bottom: 0rem;
			display: block;
		}

		// &:nth-of-type(1) {
		// 	flex: 0 0 100%;
		// 	max-width: 100%;

		// 	@media (min-width: $bs-breakpoint-md) {
		// 		flex: 1 0 0;
		// 		max-width: 100%
		// 	}
		// }
		
	}

	.footer-intro {

		> div {
			display: block;
			margin-bottom: 0.75rem;
			
			&:last-of-type {
				margin-bottom: 0
			}
		}

		.footer-ghbtns iframe {
			display: block;
			margin-bottom: 0.25rem;

		}
		
		img {
			height: 37.5px; 
			width: 37.5px; 
			transform: scale(1.25);
			background-color: $scratch-orange;
			border-radius: 100%;
		}

		.navbar-brand {
			color: var(--footer-cnt-2)
		}

	}

	.footer-socials {
		a {
			margin-right: 0.25rem;

			svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}
	 
}

main > h1:nth-of-type(1),
.intro-heading {
	margin: -1.5rem 0 1.5rem;
	padding: 1.5rem 0.5rem;
	background-color: var(--intro-heading-bg);
	color: var(--intro-heading-cnt);
	text-align: center;
}

@mixin btn-white {
	color: $bs-default-black;
	background-color: white;
	border-color: white;

	&:hover {
		background-color: #e2e6ea;
		border-color: #dae0e5;
	}
	
	&:not(:disabled):not(.disabled).active {
		background-color: #dae0e5;
		border-color: #d3d9df;
	}
	
	&.focus, &:focus {
		background-color: #e2e6ea;
		border-color: #dae0e5;
		box-shadow: 0 0 0 .2rem rgba(216,217,219,.5);
	}

	&.disabled, &:disabled {
		background-color: #f8f9fa;
		border-color: #f8f9fa;
	}

}

.btn-white,
body.dark .dark-btn-white {
	@include btn-white()
}

#install-nav .nav-link {
	@media (min-width: $bs-breakpoint-md) {
		border: 1px solid white;
		padding-top: calc(0.5rem - 1px);
		padding-bottom: calc(0.5rem - 1px);
	}
}

.white-underline {
	color: white;
	background-image: linear-gradient(to right, white 60%, transparent 40%);
	background-position: 0 1.15em;
	background-repeat: repeat-x;
	background-size: 5px 0.8px;

	&:hover {
		color: #e2e6ea;
		text-decoration: none;
		background-image: linear-gradient(to right, #e2e6ea 100%, transparent 0%);
	}
}

body:not(.dark) .show-only-dark {
	display: none
}

.copyleft {
	display: inline-block;
	transform: rotateY(180deg);
}

// =============================================================
//                     COLORS AND VARIABLES
// =============================================================

body {

	background-color: white;
	color: $bs-default-black;
	--content-bg: white;
	--content-cnt: #{$bs-default-black};
	--header-bg: #{$scratch-orange};
	--header-cnt: white;
	--intro-heading-bg: #{$scratch-orange};
	--intro-heading-cnt: white;
	--footer-bg: #f5f5f5;
	--footer-cnt: #{lighten($bs-default-black, 20%)};
	--footer-cnt-2: #{lighten($bs-default-black, 5%)};

	--secondary-bg: white;
	--secondary-bg-2: #f7f7f7;
	--secondary-cnt: #{$bs-default-black};
	--secondary-border: #{$bs-gray-300};

	--navbar-height: 59.5px;

	@media (prefers-contrast: more) {
		--header-bg: #{darken($scratch-orange, 30%)};
		--intro-heading-bg: #{darken($scratch-orange, 30%)};
	}

}

body.dark {

	background-color: $dark-neutral;
	color: white;
	--content-bg: #{$dark-neutral};
	--content-cnt: white;
	--header-bg: #{$dark-dp-2};
	--intro-heading-bg: #{$dark-dp-2};
	--footer-bg: #{$dark-dp-2};
	--footer-cnt: #{darken(white, 20%)};
	--footer-cnt-2: #{darken(white, 5%)};
	--secondary: #{$dark-low-emphasis};

	--secondary-bg: #{$dark-dp-1};
	--secondary-bg-2: #{$dark-dp-4};
	--secondary-cnt: white;
	--secondary-border: #{$dark-dp-16};

}

body.extension-styled {

	background-color: $light-ext-level-1;
	--content-bg: #{$light-ext-level-1};
	--footer-bg: #{$light-ext-level-3};
	--footer-cnt: #{$bs-default-black};

	--secondary-bg: #{$light-ext-level-2};
	--secondary-bg-2: #{$light-ext-level-2};
	--secondary-border: #{$light-ext-level-3};

	--navbar-height: 60px;

}

body.dark.extension-styled {

	background-color: $dark-ext-level-1;
	--content-bg: #{$dark-ext-level-1};
	--header-bg: #{$scratch-orange};
	--intro-heading-bg: #{$dark-ext-level-2};
	--footer-bg: #{$dark-ext-level-3};
	--footer-cnt: white;

	--secondary-bg: #{$dark-ext-level-2};
	--secondary-bg-2: #{$dark-ext-level-2};
	--secondary-border: #{$dark-ext-level-3};

	@media (prefers-contrast: more) {
		--header-bg: #{$dark-ext-level-2};
	}

}

// =============================================================
//                          DARK THEME
// =============================================================

body.dark {

	textarea, input {
		background-color: $dark-dp-1;
		border-color: $dark-dp-16;
		color: white;

		&:focus, &:active {
			background-color: $dark-dp-1;
			border-color: $dark-dp-16;
			color: white;
		}

		&::placeholder {
			color: $dark-low-emphasis
		}

		&:read-only {
			background-color: $dark-dp-24
		}

	}

	.text-muted {
		color: $dark-low-emphasis !important
	}

	// #dark-toggle {
	// 	color: white;
	// 	background-color: $scratch-orange;
	// }

	> :not(header) .navbar-toggler {
		color: var(--secondary-border) !important;
		border-color: var(--secondary-border) !important;
	}

	> :not(header) .navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	  }

	.show-only-light {
		display: none
	}

	.modal {
		color: black;
	}

}

// =============================================================
//                    EXTENSION-STYLED THEME
// =============================================================

body.extension-styled {
	@import url('https://cdn.jsdelivr.net/npm/@fontsource/sora/index.min.css');

	font-family: "Sora", $bs-font-family-sans-serif;
	font-size-adjust: 0.47;

	code, kbd, pre, samp {
		font-size-adjust: 0.5
	}

	> header {
		padding-top: 1.4px;
		padding-bottom: 1.4px;
	}

	textarea, input {

		&::placeholder {
			font-size-adjust: 0.47;
		}

	}
	
}

// =============================================================
//                  DARK EXTENSION-STYLED THEME
// =============================================================

body.dark.extension-styled {

	> header {
		img {
			transform: scale(1.75);
		}
	}

	textarea, input {
		background-color: $dark-dp-1;
		border-color: black;
		color: white;

		&:focus, &:active {
			background-color: $dark-dp-1;
			border-color: black;
			color: white;
		}

		&::placeholder {
			color: $dark-low-emphasis;
			font-size-adjust: 0.47;
		}

	}

}


// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

hr {
	border-top-color: var(--secondary-border) !important
}

.card {
	border-color: var(--secondary-border);
	background-color: var(--secondary-bg);
}

.card-header, .card-footer {
	background-color: var(--secondary-bg-2);
}

.text-body {
	color: var(--content-cnt) !important
}

.border-top {
	border-top-color: var(--secondary-border) !important
}

.border-bottom {
	border-bottom-color: var(--secondary-border) !important
}

.border-left {
	border-left-color: var(--secondary-border) !important
}

.border-right {
	border-right-color: var(--secondary-border) !important
}

.border {
	border-color: var(--secondary-border) !important
}


// =============================================================
//               OTHER STUFF RELATED TO THEMEING
// =============================================================

.no-animation {
	* {
		transition: none !important
	}
}

body:not([data-theme-loaded=true]) {
	display: none;
}