@import "variables";

#intro {
	// background: linear-gradient(to right bottom,#f7f5fb 50%,#fff 50%);

	// background-color: $scratch-orange;
	// color: white;


	.carousel {

		.carousel-item-wrapper {
			> * {
				max-height: 100%;
				max-width: 100%;
				box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.5);
			}
		}

		.carousel-caption {
			background-color: black;
			box-shadow: 0px 0px 5px black;
			border-radius: 0.25rem;
			opacity: 0;
			transition: opacity 	.15s linear
		}

		&:hover .carousel-caption {
			opacity: 0.9;
		}

	}
	
	#intro-info {
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	#intro-img {
		height: 75vh
	}

	#install-intro {
		
		&:not(:focus) {
			box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.75);
		}
		
		p {
			margin-bottom: 0;

			&:nth-of-type(1) {
				font-size: 1.5rem
			}
			&:nth-of-type(2) {
				font-size: 0.75rem
			}

		}

	}

	#read-more {
		background-color: transparent;
		color: var(--intro-heading-cnt);
		border-color: transparent !important;
		box-shadow: none !important;

		:hover {
			color: #e2e6ea;
		}
	}
	
}

#divider-1, #divider-2, #divider-3 {
	height: 100px;

	path {
		fill: var(--intro-heading-bg);
		stroke: var(--intro-heading-bg);
	}
}

#highlights {

	background-color: var(--intro-heading-bg);
	color: var(--intro-heading-cnt);	

	.card {
		color: var(--content-cnt)
	}
	
	.highlights-addon {
		display: flex;
	}

	.highlights-img {
		height: 200px;

		img {
			height: 100%;
		}
	}

	.highlights-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 0 0;

		h3 {
			margin-bottom: 0.5rem
		}

		p {
			margin-bottom: 0
		}
	}

}

#features {
	
	.features-icon {
		text-align: center;
		margin-bottom: 0.5rem
	}
	
	.features-circle {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 9rem;
		width: 9rem;
		margin: auto;
		background: $scratch-orange;
		color: white;
		border-radius: 50%;
	}

	.features-icon .iconify {
		height: 4.5rem;
		width: 4.5rem;
		margin: auto;
		text-align: center
	}
	
	p {
		margin: 0 0 0.5rem
	}
	
}

#install {
	
	.btn {
		font-size: 1.25rem;
	}

}

main {
	// padding-top: 0;

	section {
		// margin-bottom: 2.5rem
	}
}

h2 {
	margin-bottom: 1rem
}

.image-placeholder {
	display: block;
	height: 200px;
	width: 200px;
	border: 2px black dashed
}

body.dark {

	#features {

		.features-circle {
			background-color: $dark-dp-1;
		}

	}

}

body.dark.extension-styled {

	#features {

		.features-circle {
			background-color: $dark-ext-level-2;
		}

	}

}

.yt-thumb-button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    transition: opacity .25s cubic-bezier(0,0,0.2,1);
	border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: default;
    line-height: inherit;
	outline: 0;

	&:focus {
		outline: 0;
	}
}


.yt-thumb-button-bg {
    transition: fill .1s cubic-bezier(0.4,0,1,1),fill-opacity .1s cubic-bezier(0.4,0,1,1);
    fill: #212121;
    fill-opacity: .8;
}

.yt-thumb:hover .yt-thumb-button-bg {
    transition: fill .1s cubic-bezier(0,0,0.2,1), fill-opacity .1s cubic-bezier(0,0,0.2,1);
    fill: #f00;
    fill-opacity: 1;
}

#modal-presentation {
	.yt-wrapper {
		position: relative;
		&:before {
			display: block;
			content: "";
			width: 100%;
			padding-top: (9 / 16) * 100%;
		}
		> iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%
		}
	}
}