@import "variables";

#intro-carousel {

	.carousel-item-wrapper {
		> * {
			max-height: 100%;
			max-width: 100%;
			box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.5);
		}
	}

	.carousel-caption {
		background-color: black;
		box-shadow: 0px 0px 5px black;
		border-radius: 0.25rem;
		opacity: 0;
		transition: opacity .15s linear
	}

	&:hover .carousel-caption {
		opacity: 0.9;
	}

	.splide__arrow {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.splide__pagination__page {
		background-color: var(--content-cnt);
	}

}

#intro-info {
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		font-weight: 600;
		line-height: 1.2;
		font-size: calc(2rem + 2.42vw);

		@media (min-width: $bs-breakpoint-lg) {
			font-size: 3.5rem;
		}
	}

	.lead {
		font-weight: 300;
		font-size: calc(1rem + 0.8vw);

		@media (min-width: $bs-breakpoint-lg) {
			font-size: 1.6rem;
		}
	}
}

#install-intro {
	
	&:not(:focus) {
		box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.75);
	}
	
	p {
		margin-bottom: 0;

		&:nth-of-type(1) {
			font-size: 1.5rem
		}
		&:nth-of-type(2) {
			font-size: 0.75rem
		}

	}

}

#read-more {
	background-color: transparent;
	color: var(--intro-heading-cnt);
	border-color: transparent !important;
	box-shadow: none !important;

	:hover {
		color: #e2e6ea;
	}
}

#divider-1, #divider-2, #divider-3 {
	height: 100px;

	path {
		fill: var(--intro-heading-bg);
		stroke: var(--intro-heading-bg);
	}
}

#highlights {

	background-color: var(--intro-heading-bg);
	color: var(--intro-heading-cnt);	

	.card {
		color: var(--content-cnt)
	}
	
	.highlights-addon {
		display: flex;
	}

	.highlights-img {
		height: 200px;

		img {
			height: 100%;
		}
	}

	.highlights-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 0 0;

		h3 {
			margin-bottom: 0.5rem
		}

		p {
			margin-bottom: 0
		}
	}

	.card-img-wrapper {
		position: relative;
	
		&:before {
			display: block;
			content: "";
			width: 100%;
			padding-top: (3 / 4) * 100%;
		}
	
		> .card-img-top {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

}

#features {
	
	.features-icon {
		text-align: center;
	}
	
	.features-circle {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 9rem;
		width: 9rem;
		margin: auto;
		background: $scratch-orange;
		color: white;
		border-radius: 50%;
	}

	.features-icon .iconify {
		height: 4.5rem;
		width: 4.5rem;
		margin: auto;
		text-align: center
	}
	
	p {
		margin: 0 0 0.5rem
	}
	
}

#install {
	
	.btn {
		font-size: 1.25rem;
	}

}

h2 {
	margin-bottom: 1rem
}

.image-placeholder {
	display: block;
	height: 200px;
	width: 200px;
	border: 2px black dashed
}

.odometer {
	font-family: inherit !important;
}

.splide {
	.splide__pagination {
		position: absolute;
		right: 0;
		bottom: -2rem;
		left: 0;
		z-index: 15;
		padding-left: 0;
		margin-right: 15%;
		margin-left: 15%;
		flex-wrap: nowrap;

		li {
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			width: 30px;
			margin-right: 3px;
			margin-left: 3px;
		}

		li button {
			box-sizing: content-box;
			height: 3px;
			width: 100%;
			text-indent: -999px;
			background-color: #fff;
			background-clip: padding-box;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			opacity: .5;
			transition: opacity .6s ease;
			border-radius: 0;

			&.is-active {
				opacity: 1;
				transform: none;
			}
		}
	}

	.splide__arrow {
		background: white;
		transition: opacity .15s linear
	}

}

#highlights-carousel {

	@media (max-width: 575.98px) {
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
		max-width: 540px;
	}

	.card-text {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
}

// .splide__arrow {
// 	background: none !important;

// 	svg {
// 		color: black !important;
// 	}
// }

body.dark {

	#features {

		.features-circle {
			background-color: $dark-dp-1;
		}

	}

}

body.dark.extension-styled {

	#features {

		.features-circle {
			background-color: $dark-ext-level-2;
		}

	}

}

html {
	scroll-behavior: smooth;
}