@import "variables";

main > .container > {

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.5rem;
        margin-bottom: 1rem
    }

    p {
        margin-bottom: 1rem
    }

}

main > .container:last-child {
    margin-bottom: 0
}